body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

.bg {
    background-image: url("../images/woman-doing-yoga-at-sunset.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

.navbar-brand {
    font-size: 2em;
}

.nav-item {
    font-size: 1.5em;
}

/* Welcome */

.welcome {
    text-align: center;
    font-size: 3em;
    color: white;
    padding-top: 215px;
}

.welcome-quote {
    font-size: 1em;
    color: white;
    text-align: center;
}

/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

/* Mobile Responsiveness */
@media (max-width: 960px) {
    body {
        width: auto;
    }

    .bg {
        background-position-x: -20em;
    }
}