body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

.bg {
    background-image: url("../images/woman-doing-yoga-at-sunset.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

.navbar-brand {
    font-size: 2em;
}

.nav-item {
    font-size: 1.5em;
}

/* Welcome */

.welcome {
    text-align: center;
    font-size: 3em;
    color: white;
    padding-top: 215px;
}

.welcome-quote {
    font-size: 1em;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}

.welcome-quote-about {
    font-size: 1em;
}

/* Footer */

footer {
    text-align: center;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icon {
    margin: .75em .5em .25em .5em;
}

p.footer_margin {
    margin-bottom: 0;
    padding-bottom: .5em;
}

a {
    color: pink;
}

a:hover {
    color: orange;
}

/* Mobile Responsiveness */
@media (max-width: 960px) {
    body {
        width: auto;
    }

    .bg {
        background-position-x: -15em;
    }

    .welcome {
        padding-top: 2.8em;
        padding-bottom: .5em;
    }

    .welcome-about {
        font-size: 2em;
        padding-top: 4em;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
}